h1{
  font-size: 60px
}

img{
  margin-right: auto;

}
body{
  background-color: aqua;
}
#de{
    float:left;
    font-family: serif;
}
h3 {
    float:right;
}

#ca{
   float: left;
   font-family: serif;

   }
h4{
  float:right;
}

body{5
  background-color: aqua;


}
h3{
  font-family: inherit;
}
#vi{
  float: left;
  font-family: serif;
}
h5{
  float: right;
}
